{% extends 'EfcCmsBundle::layout.html.twig' %}

{% block content %}

    <div class="wrapper">
        <div class="main-center-elements">

            <div id="block-article">
                <p><em>conférence -</em><em>centre culturel de Chine à Paris</em></p>
                <p>19 Mars 2013</p>
                <h5>Biodiversite et grands projets d’amenagement
                    en France et
                    en Chine_</h5>
                <h4></h4>
            </div>

            <div class="article-main-image">
                <img src="{{ asset('uploads/articles/photos/CCCP1.jpg') }}">
            </div>

            <div class="article-center-elements">

                <div id="corps-article">
                    <h2>Organisée pour la première fois en partenariat avec la Fondation pour le droit continental, la conférence de rentrée d'EFC a connu un grand succès.
                    </h2>
                    <p>La thématique retenue - la biodiversité et les grands projets d'aménagement en France et en Chine à l'aune du droit comparé - a rassemblé une centaine de participants, qui ont écouté avec attention, en traduction simultanée, les échanges entre six prestigieux intervenants réunis au sein d'une table ronde interactive : le Pr. Qin Tianbao, de l'Université de Wuhan, le Pr. Gilles J. Martin, de l'Université de Nice Sophia-Antipolis, le Pr. Gilles Boeuf, Président du Muséum National d'Histoire Naturelle, Mme Anne Guerrero, Responsable du Développement Durable de Réseau Ferré de France, M. Laurent Piermont, Président de CDC Biodiversité et Me Laura Ceccarelli-Le Guen, avocat chez DS Avocats.
                    </p>
                    <p>Sur le fond, les intervenants ont abordé, pendant près de deux heures, de multiples sujets liés en lien avec la thématique de la conférence, en tentant de répondre à la question suivante : le droit constitue-t-il un outil permettant d'assurer, de façon adaptée, la protection de la biodiversité lors de la réalisation de grands projets d'aménagement ou d'infrastructure ? De multiples points de vue ont été échangés, montrant la différence d'approche entre les acteurs français et chinois, ainsi que la richesse du retour d'expérience lié à la pluralité des perspectives.</p>
                </div>

                <div class="article-side">
                    <div id="author-logo"><h2>M</h2></div>
                    <h3>AUTEUR</h3>
                    <p><em>- Manuel Pennaforte -</em></p>
                </div>

                <figure id="mid-image">
                    <img src="{{ asset('uploads/articles/photos/CCCP3.jpg') }}">
                </figure>

                <div id="corps-article">
                    <p>A cette occasion, le Pr. Qin Tianbao a présenté les outils juridiques existant en Chine permettant de prendre en compte la biodiversité dans les nombreux projets de construction d’infrastructures. Le Pr. Qin a souligné que les problématiques en termes de biodiversité n’étaient pas nécessairement identiques en France et en Chine. Il a également observé que le droit de l’environnement chinois, en constante évolution, gagnerait à s’inspirer des outils juridiques mis en œuvre en France, notamment dans le domaine de la compensation, et à tenir compte du retour d’expérience des acteurs français afin d’anticiper les difficultés, tenant par exemple à la multiplicité et à la durée des procédures administratives.</p>
                </div>

                <figure id="mid-image">
                    <img src="{{ asset('uploads/articles/photos/CCCP8.jpg') }}">
                </figure>

                <div id="corps-article">
                    <p>
                        À l'issue de la conférence, les questions du public ont permis d'enrichir le débat. Les échanges se sont poursuivis lors du cocktail-dînatoire franco-chinois offert par la Fondation pour le droit continental dans les salons du CCCP.
                    </p>
                </div>

                <div class="article-side">
                    <h1>At vero eos et accusamus et iusto odio dignissimos</h1>
                </div>

                <div id="img-link">

                    <div class="bot-image">
                        <img src="{{ asset('uploads/articles/photos/CCCP9.jpg') }}">
                    </div>
                    <div class="bot-image">
                        <img src="{{ asset('uploads/articles/photos/CCCP6.jpg') }}">
                    </div>
                    <div class="bot-image">
                        <img src="{{ asset('uploads/articles/photos/CCCP5.jpg') }}">
                    </div>
                    <div class="bot-image">
                        <img src="{{ asset('uploads/articles/photos/CCCP4.jpg') }}">
                    </div>

                </div>

                <div id="notes">
                    <p class="intertitres"><em>notes</em></p>
                    <p class="notes"><em>></em> Accueil du public à partir de 18
                        h00
                        –
                        Début des interventions à 18h30
                        –
                        Cocktail à partir de 20h30</p>

                    <p class="notes"><em>></em> Réponse souhaitée
                        avant le 12 mars 2013</p>
                </div>

                <p class="intertitres"><em>articles suivants</em></p>

                <div id="box-item-article"></div>

            </div>

        </div>
    </div>

{% endblock %}