{% extends 'EfcBackOfficeBundle::layout.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('efc_back_office_homepage') }}">Article</a>
        </li>
        <li>
            <a href="{{ path('efc_back_office_homepage') }}">Liste</a>
        </li>
    </ol>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="create-button visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
                        <a href="{{ path('efc_back_office_article_create') }}" class="btn btn-primary btn-xs pull-left">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </span>
                    <span style="margin-left:5px;">Créer un Article</span>
                </div>

                <!-- table page - BEGIN -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Auteur</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.titre }}</td>
                                <td>{{ article.auteur }}</td>
                                <td>{{ article.dateEvenement|date("d/m/Y H:i:s") }}</td>
                                <td>
                                    <a href="{{ path('efc_back_office_article_view', {'id': article.id}) }}" class="btn btn-primary btn-xs btn-success" title="Afficher" role="button">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{ path('efc_back_office_article_edit', {'id': article.id}) }}" class="btn btn-primary btn-xs" title="Editer" role="button">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{ path('efc_back_office_article_delete', {'id': article.id}) }}" class="btn btn-danger btn-xs" title="Supprimer" role="button">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- table page - END -->
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready( function () {

            //chinois https://datatables.net/plug-ins/i18n/Chinese

            $('table').DataTable(
                {
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        } );
    </script>

{% endblock %}