{% extends "AveaPatrimoineBackOfficeBundle::layout.html.twig" %}

{% block title %} {{ centre.nom }}- {{ parent() }}{% endblock %}

{% block content %}

    <div class="entity-show">
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('efc_back_office_homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('efc_back_office_centre_index') }}">centres</a>
            </li>
        </ol>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1 style="text-align:center">{{ centre.nom }}</h1>
                {% if centre.filename is not null %}
                    <div style="text-align:center">
                        <img style="max-width:80%; display:inline-block;" alt="" src="{{ app.request.schemeAndHttpHost() }}/{{ centre.getWebPath() }}">
                    </div>
                {% endif %}
                <h2>Description</h2>
                <p>{{ centre.description|raw }}</p>
                <h2>Activités</h2>
                {% if centre.activites is not empty %}
                    <div class ="container">
                        <div class ="row" >
                            <div id="carousel-example-generic" class="carousel slide col-md-8 col-md-offset-2" data-ride="carousel">
                                <!-- Indicators -->
                                {#<ol class="carousel-indicators">#}
                                    {#<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
                                    {#<li data-target="#carousel-example-generic" data-slide-to="1"></li>#}
                                    {#<li data-target="#carousel-example-generic" data-slide-to="2"></li>#}
                                {#</ol>#}

                                <!-- Wrapper for slides -->
                                    <div class="carousel-inner" style="text-align:center;">
                                        {% for activite in centre.activites %}
                                            <div class="item {% if loop.first %} active {% endif %}">
                                                <img src="{{ app.request.schemeAndHttpHost() }}/{{ activite.getWebPath() }}" style="display:inline-block;max-height:400px;" alt="...">
                                                <div class="carousel-caption">
                                                    <h3>{{ activite.nom() }}</h3>
                                                    <p>{{ activite.description() }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div> <!-- Carousel -->
                        </div>
                    </div>
                {% else %}
                    <p>Il n'y a pas d'activités de renseignés sur ce centre</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: false
            })
        });
    </script>
{% endblock %}