{% extends 'EfcCmsBundle::layout.html.twig' %}

{% block content %}

    <div class="wrapper">

        <div class="main-center-elements">
            
            <div id="block-article">
                <p><em>.02 -</em><em>l'association</em></p>
                <h5>L'association EFC_</h5>
                <h4>Conformément à la volonté de ses fondateurs, EFC est doté d’une co-présidence, franco-chinoise assistée d’une équipe de douze personnes, multiculturelle et multidisciplinaire.</h4>
            </div>
            
            <div class="article-main-image">
                <img src="../ressources/ressources_article/CCCP11.jpg"><img src="{{ asset('') }}">
            </div>

            <div class="article-center-elements">

                <article class="mini-prez-1">
                    <h5>membres d'honneur</h5>

                    <h2>Sont membres d’Honneur d’Environnement France Chine les personnes qui, sollicitées à cette fin par le Conseil d’administration, acceptent de l’être. </h2>
                </article>

                <div id="trombi-box-item">

                    <div class="collabo">
                        <img src="{{ asset('uploads/trombino/trombi14.jpg') }}">
                        <p><em>Directeur du RIEL</em></p>
                        <h2>Wang Shuyi</h2>
                    </div>

                    <div class="collabo">
                        <img src="{{ asset('uploads/trombino/trombi15.jpg') }}">
                        <p><em>Avocat au barreau de Paris</em></p>
                        <h2>Jean-Pierre Boivin</h2>
                    </div>

                    <div class="collabo">
                        <img src="{{ asset('uploads/trombino/Cai_Xue_En.jpg') }}">
                        <p><em>Avocat au barreau de Wuhan</em></p>
                        <h2>Cai Xue En</h2>
                    </div>

                </div>

                <article class="mini-prez-1">
                    <div class="line"></div>
                    <h5>notre equipe</h5>

                    <h2>Environnement France Chine est administré par un Conseil d’administration et par un Bureau exécutif élu par le Conseil et en son sein, renouvelés depuis le 22 novembre 2012 pour une durée de trois ans.</h2>
                </article>

                <div id="liste-container">
                    <div id="trombi-box-item">

                        <div class="collabo">
                            <p><em>Président en france d'EFC</em></p>
                            <h2>Manuel Pennaforte</h2>
                            <img src="{{ asset('uploads/trombino/trombi01.jpg') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Président en Chine d'EFC</em></p>
                            <h2>Qin Tianbao</h2>
                            <img src="{{ asset('uploads/trombino/trombi02.png.jpg') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Chargé de communication d'EFC</em></p>
                            <h2>Li Junyi</h2>
                            <img src="{{ asset('uploads/trombino/trombi05.jpg') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Chargée de relatio</em>n</p>
                            <h2>Susan Harris</h2>
                            <img src="{{ asset('uploads/trombino/unnamed.jpg') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Chargé de communication d'EFC</em></p>
                            <h2>Marie Aude Balland</h2>
                            <img src="{{ asset('uploads/trombino/trombi16.png') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Trésorière</em></p>
                            <h2>An Yishi</h2>
                            <img src="{{ asset('uploads/trombino/trombi19.jpg') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Responsable Médias</em></p>
                            <h2>Andrea Rigal-Casta</h2>
                            <img src="{{ asset('uploads/trombino/trombi20.png') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Secrétariat général</em></p>
                            <h2>Anne-Caroline Urbain</h2>
                            <img src="{{ asset('uploads/trombino/trombi13.png.jpg') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Membre du Conseil d'administration</em></p>
                            <h2>Vincent Limousin</h2>
                            <img src="{{ asset('uploads/trombino/trombi10.jpg') }}">
                        </div>

                        <div class="collabo">
                            <p><em>Membre du Conseil d'administration</em></p>
                            <h2>Frederic Levy</h2>
                            <img src="{{ asset('uploads/trombino/trombi17.jpg') }}">
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <article class="mini-prez-1"></article>

        </div>
    </div>
    
{% endblock %}