{% extends '::back-office.html.twig' %}

{% block header %}

    <nav class="navbar navbar-default main-nav">

        <div class="container-fluid col-xs-12 col-sm-12 col-md-12">

            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('efc_back_office_homepage') }}">
                    <img src="" alt="EFC"/>
                </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="{{ path('efc_back_office_homepage') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Article<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('efc_back_office_article_create') }}">Créer</a></li>
                            <li><a href="{{ path('efc_back_office_homepage') }}">Liste</a></li>
                            <li><a href="{{ path('efc_back_office_type_liste') }}">Types</a></li>
                        </ul>
                    </li>
                    <li><a href="">Informations générales</a></li>
                </ul>
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2" style="float:right; text-align:right;padding:10px;">
                <a href="{{ path('efc_back_office_security_logout') }}" style="">
                    <button class="btn btn-danger btn-sm">Déconnexion</button>
                </a>
            </div>

        </div>

    </nav>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock footer %}