{% extends 'EfcCmsBundle::layout.html.twig' %}

{% block content %}

    <div class="wrapper">

        <section id="main-landing-element">
            <img class="logoefc" src="{{ asset('img/logos/logoEFCvector_2.svg') }}">

            <h2>Environnement France Chine</h2>
            <h1>L'environnement au coeur de notre action_</h1>

            <div class="boutton-contact">
                !
            </div>
        </section>

        <div class="main-center-elements">

            <div class="underlayer"></div>

            <article class="mini-prez-1" id="special-mini">

                <div class="line"></div>

                <h5>multidisciplinaire et pratique...</h5>

                <h2>
                    l'association est née d’une double prise de conscience.

                    D’une part, le constat d’une carence dans la connaissance réciproque des outils normatifs mis au service de l’environnement en France et en Chine.

                    D’autre part, l’existence d’un attachement et d’un intérêt communs des ressortissants des deux pays à des formes de coopération renforcée
                </h2>

            </article>

        </div>

        <div class="main-center-elements">
            <section id="services-sample">

                <ul id="services-list">

                    <li class="services-item">
                        <img src="{{ asset('img/logos/objectif.svg') }}">
                        <h2>législation environnementale</h2>
                        <p>Dans ce domaine, les outils normatifs et techniques revêtent une importance capitale. La prévisibilité et l’intelligibilité de la règle de droit constituent ainsi le gage premier de sa connaissance et, par suite, de son efficacité. Environnement France Chine inscrit son action dans cette perspective.</p>
                    </li>

                    <li class="services-item">
                        <img src="{{ asset('img/logos/trombi.svg') }}">
                        <h2>ateliers itinérants</h2>
                        <p> destinés à permettre aux entreprises industrielles françaises implantées en Chine de mieux comprendre les rouages administratifs, les textes et les procédures susceptibles d’être mis en œuvre en vue de faciliter leurs projets d’implantation ou d’extension.</p>
                    </li>

                </ul>

            </section>

            <article class="mini-prez-1">
                <section id="article-sample">
                    <div id="box-item-article">

                        <div class="item-article">
                            <p><em>conférence</em></p>
                            <h2><a href="">L’avenir de l’auto-partage dans les grandes villes</a></h2>
                            <img src="{{ asset('uploads/articles/photos/COP21_1.jpg') }}">
                        </div>

                        <div class="item-article-side">

                            <div class="line"></div>
                            <h5>publications</h5>
                            <p>Toutes les personnes souhaitant être informées des travaux de l'association sont invitées à devenir membres.</p>

                        </div>

                        <div class="item-article-side">

                            <h2>dernières actualités</h2>

                        </div>

                        <div class="item-article-side"></div>

                        <div class="item-article">

                            <img src="{{ asset('uploads/articles/photos/atelier1_small.jpg') }}">

                            <p><em>Atelier</em></p>
                            <h2><a href="">Atelier franco-chinois de droit de l'environnement : Comment gérer une crise environnementale ?</a></h2>
                        </div>

                        <div class="item-article">

                            <img src="{{ asset('uploads/articles/photos/CCCP1.jpg') }}">

                            <p><em>conférence</em></p>
                            <h2><a href="">Biodiversite et grands projets d’amenagement en France et en Chine</a></h2>
                        </div>

                        <div class="item-article">

                            <img src="{{ asset('uploads/articles/photos/ymea3.jpg') }}">

                            <p><em>rencontre</em></p>
                            <h2><a href="">rencontre avec la Yunnan Municipal Engineering Association</a></h2>
                        </div>

                    </div>

                    <div class="go-to-article"></div>

                </section>
            </article>
        </div>

        <div class="main-center-elements">

            <section id="contact-sample">
                <div class="line"></div>
                <h5>nos partenaires</h5>

                <div id="box-logo">
                    <div class="logo-par"><img src="{{ asset('img/logos/LogoUPSUD_min.png') }}"></div>
                    <div class="logo-par"><img src="{{ asset('img/logos/Logojonesday_min.png') }}"></div>
                    <div class="logo-par"><img src="{{ asset('img/logos/ba5cd8_d50a35a00aa44b84a4125716cc991630_min.png') }}"></div>
                    <div class="logo-par"><img src="{{ asset('img/logos/LOGO-FDC_min.png') }}"></div>
                    <div class="logo-par"><img src="{{ asset('img/logos/LogoCCIFC_min.png') }}"></div>
                    <div class="logo-par"><img src="{{ asset('img/logos/LogoDSavocats_min.png') }}"></div>
                    <div class="logo-par"><img src="{{ asset('img/logos/LogoRIEL_min.png') }}"></div>
                    <div class="logo-par"><img src="{{ asset('img/logos/LogoWEBS_min.png') }}"></div>
                </div>

            </section>
        </div>
    </div>
{% endblock %}